<h2>Provider Page</h2>

<h3>Welcome to your Provider PROFILE</h3>

<p>Id: <%= id %></p>
<p>Name: <%= name %></p>
<p>Email: <%= email %></p>
<p>providerNumber <%= providerNumber %> </p>



<form action="/auth/edit/id<%=id%>/?_method=PUT">
    <h1>Edit Profile</h1>
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" placeholder="<%=email%>">
  <br></br>
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name" placeholder="<%=name%>">
  
    <input type="submit" value="Update">
</form>