<a style="margin-left: 10px;" href="/ads/new" class="btn btn-primary btn-lg" role="button" aria-disabled="true">Create New Add</a>

<div style="margin-right: 30%; margin-left: 30%;"class="card" style="width: 18rem;">
    <div class="card-body">
      <h2 class="card-title"><%= ad.title %></h2>
      <h4 class="card-title"><%= ad.subtitle %></h4>
      <p class="card-text"><%= ad.content %> </p>
      <p class="card-text"><%= ad.User.email %> </p>
    </div>
</div>
<%# Add comment below here %> 
<form style="margin-top: 10px;" action="/ads/comments" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Ad Title">
    <input type="text" class="form-control" id="title" name="adId" value="<%= ad.id %> " hidden>
  <div class="form-group">
    <label for="content">Content:</label>
    <textarea class="form-control" id="content" name="content" rows="3"></textarea>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>

<%# Add all comments %> 
<h3>Comments</h3>
<% for (let i = 0; i < comments.length; i++) { %>
  <% let c = comments[i]; %> 
  <div class="card">
    <div class="card-body">
      <h5><%= c.title %></h5>
      <p><%= c.content %> </p>
      <p>By: <%= c.User.name %> </p>
      <% if (ad.User.email === currentUser.email) { %>
        <form action="/ads/comments/<%= c.id %>/?_method=DELETE" method='POST'>
          <input type="text" name="adId" id="adId" value='<%= ad.id %>' hidden>
          <button type="submit">Delete Comment</button>
        </form>    
        <% } %> 
    </div>
  </div>
  <hr>
<% } %> 